<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center"><%= title %></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Película</th>
                    <th>Usuario</th>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
                <% reviews.forEach(review => { %>
                    <tr>
                        <td><%= review.movie.title %></td>
                        <td><%= review.user.name %></td>
                        <td><%= review.comment %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>
